config
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service CPU
  + service LOG
  + service Timer
  + service Capture
  + service Event

+ default | caps: 100 | ram: 1M

+ start platform | caps: 150 | ram: 2M | managing_system: yes
  + binary a64_platform
  + provides
    + service Platform
    + service Scp
  + route | + any-service | + parent
  + config
    + policy | label: a64_pio ->
      + device pio
    + policy | label: fb -> | info: yes
      + device dphy
      + device dsi
      + device syscon
      + device de2_bus
      + device r_pwm
      + device tcon0
      + device tcon1
    + policy | label: goodix_touch -> | info: yes
      + device i2c0

+ start a64_pio
  + provides
    + service Pin_state
    + service Pin_control
    + service IRQ
  + route
    + service ROM      | + parent
    + service CPU      | + parent
    + service PD       | + parent
    + service LOG      | + parent
    + service Platform | + child platform
  + config
    + select touchscreen-i2c-sck | bank: H | index:  0 | function: 2
    + select touchscreen-i2c-sda | bank: H | index:  1 | function: 2
    + out    touchscreen-int     | bank: H | index:  4
    + in     touchscreen-int     | bank: H | index:  4 | irq: falling
    + out    touchscreen-reset   | bank: H | index: 11
    + select lcd-pwm             | bank: L | index: 10 | function: 2
    + out    backlight           | bank: H | index: 10
    + out    lcd-reset           | bank: D | index: 23
    + policy | label: goodix_touch -> PH11 | pin: touchscreen-reset
    + policy | label: goodix_touch -> PH4  | pin: touchscreen-int
    + policy | label: fb -> PH10           | pin: backlight
    + policy | label: fb -> PD23           | pin: lcd-reset

+ start fb | caps: 250 | ram: 20M
  + binary de_fb
  + route
    + service ROM | label: dtb | + parent | label: de-pinephone.dtb
    + service RM               | + parent
    + service ROM              | + parent
    + service PD               | + parent
    + service CPU              | + parent
    + service LOG              | + parent
    + service Timer            | + parent
    + service Capture          | + parent
    + service Platform         | + child platform
    + service Pin_control      | + child a64_pio

+ start goodix_touch | caps: 250 | ram: 10M
  + route
    + service ROM | label: dtb | + parent | label: goodix-pinephone.dtb
    + service RM               | + parent
    + service ROM              | + parent
    + service PD               | + parent
    + service CPU              | + parent
    + service LOG              | + parent
    + service Timer            | + parent
    + service Platform         | + child platform
    + service Pin_control      | + child a64_pio
    + service IRQ              | + child a64_pio | label: goodix_touch -> PH4
    + service Event            | + child event_filter | label: touch

+ start event_filter | caps: 90 | ram: 1280K
  + provides | + service Event
  + route
    + service ROM | label: config | + parent | label: event_filter.config
    + service ROM                 | + parent
    + service PD                  | + parent
    + service CPU                 | + parent
    + service LOG                 | + parent
    + service Timer               | + parent
    + service Event               | + parent
-
