config | verbose: no
+ parent-provides
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Pin_state
  + service Pin_control
  + service Timer
  + service Gui
  + service Platform

+ start dynamic_rom | caps: 100 | ram: 4M
  + provides | + service ROM
  + route | + any-service | + parent
  + config | verbose: no
    + rom config
      + inline | description: camera front present 640x480@15
      | + config
      |   + parent-provides
      |     + service ROM
      |     + service PD
      |     + service CPU
      |     + service LOG
      |     + service Platform
      |     + service Timer
      |     + service Capture
      |     + service Pin_control
      |     + service Pin_state
      |     + service Gui
      |   + start camera | caps: 250 | ram: 80M
      |     + binary pinephone_camera
      |     + config
      |     |        width:  640
      |     |        height: 480
      |     |        fps:    15
      |     |        format: yuv
      |     |        camera: front
      |     + route
      |       + service ROM | label: dtb | + parent | label: camera.dtb
      |       + any-service              | + parent
      |
      + sleep | milliseconds: 10000
      + inline | description: camera back present 640x480@15
      | + config
      |   + parent-provides
      |     + service ROM
      |     + service PD
      |     + service CPU
      |     + service LOG
      |     + service Platform
      |     + service Timer
      |     + service Capture
      |     + service Pin_control
      |     + service Pin_state
      |     + service Gui
      |   + start camera | version: 2 | caps: 250 | ram: 80M
      |     + binary pinephone_camera
      |     + config
      |     |        width:  640
      |     |        height: 480
      |     |        fps:    15
      |     |        format: yuv
      |     |        camera: rear
      |     + route
      |       + service ROM | label: dtb | + parent | label: camera.dtb
      |       + any-service              | + parent
      |
      + sleep | milliseconds: 10000

+ start dynamic_init | caps: 900 | ram: 128M
  + binary init
  + route
    + service ROM | label: config            | + child dynamic_rom
    + service ROM | label_last: camera.dtb   | + parent | label: camera-pinephone.dtb
    + service Platform                       | + parent | label: camera
    + service Pin_control | label_last: PC0  | + parent | label: PC0
    + service Pin_control | label_last: PD3  | + parent | label: PD3
    + service Pin_control | label_last: PE12 | + parent | label: PE12
    + service Pin_control | label_last: PE13 | + parent | label: PE13
    + service Pin_control | label_last: PE16 | + parent | label: PE16
    + service Pin_control | label_last: PE17 | + parent | label: PE17
    + service Pin_state   | label_last: PC0  | + parent | label: PC0
    + service Pin_state   | label_last: PD3  | + parent | label: PD3
    + service Pin_state   | label_last: PE12 | + parent | label: PE12
    + service Pin_state   | label_last: PE13 | + parent | label: PE13
    + service Pin_state   | label_last: PE16 | + parent | label: PE16
    + service Pin_state   | label_last: PE17 | + parent | label: PE17
    + service Timer                          | + parent
    + service Gui                            | + parent | label: camera
    + any-service                            | + parent
-
