config | verbose: true
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Uplink

+ default | caps: 100 | ram: 1M

+ start platform | caps: 150 | managing_system: yes
  + provides | + service Platform
  + route | + any-service | + parent
  + config
    + policy | label: emac_nic ->  | info: yes
      + device syscon
      + device emac

+ start emac_nic | caps: 800 | ram: 10M
  + config
  + route
    + service ROM | label: dtb | + parent | label: emac-pine_a64lts.dtb
    + service ROM              | + parent
    + service CPU              | + parent
    + service PD               | + parent
    + service LOG              | + parent
    + service Timer            | + parent
    + service Uplink           | + parent
    + service Platform         | + child platform
-
